<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Harry Studio | print shop</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/css" href="css/fonts/fonts.css" />
</head>

    <body>
        <nav>
            <ul id="categories">
                <div class="triage" id="triage-bottom">
                    {% set choix_cats = [7,8] %}
                    {%- for category in cat_list -%}

                        {%- if loop.index in choix_cats -%}
                            {%- include 'category_nav.tpl' -%}
                        {%- endif -%}
                    {%- endfor -%}
                </div>

                <div class="triage" id="triage-top">
                    {% set choix_cats = [2,3,6] %}
                    {%- for category in cat_list -%}

                        {%- if loop.index in choix_cats -%}
                            {%- include 'category_nav.tpl' -%}
                        {%- endif -%}
                    {%- endfor -%}
                </div>

                <div class="triage" id="triage-right">
                    {% set choix_cats = [5,10] %}
                    {%- for category in cat_list -%}

                        {%- if loop.index in choix_cats -%}
                            {%- include 'category_nav.tpl' -%}
                        {%- endif -%}
                    {%- endfor -%}
                </div>

                <div class="triage" id="triage-left">
                    {% set choix_cats = [9,4] %}
                    {%- for category in cat_list -%}

                        {%- if loop.index in choix_cats -%}
                            {%- include 'category_nav.tpl' -%}
                        {%- endif -%}
                    {%- endfor -%}
                </div>

            </ul>
            <button id="clear" onclick="resetFiltres()">clear</button>
            <button id="showNav" onclick="showHtmlDiv('categories')">tri</button>

            <div class="triage mobile" id="top"></div>
            <div class="triage mobile" id="bottom"></div>
            <div class="triage mobile" id="right"></div>
            <div class="triage mobile" id="left"></div>

        <div id="about">
            <button id="info" onclick="showHtmlDiv('showClick')">?</button>
            <div id="showClick" style="display: none">
                <button class="closing" onclick="showHtmlDiv('showClick')">&#10005;</button>
                {{ about}}
            </div>
        </div>
    </nav>

    <main id="projectsMap">
        {%- for project in projects | sort(reverse=true) -%}
        <article class="project" style="--local-color: #{{ colors[project[11][0]] }};">
            <div class="shapeImage">
                {% set svg = svg_paths[loop.index0 % svg_paths|length] %}

                <!-- LE TITRE SUR UN CHEMIN SVG -->
                <svg viewBox="-5 175 {{ svg[0] }} 200" class="vb">
                    <g transform="translate(0,-145)">
                        <path class="coucurve" id="curve{{loop.index0}}" fill="transparent" d="{{ svg[1] }}" />
                    </g>
                    <text width="{{ svg[0] }}">
                        <textPath xlink:href="#curve{{loop.index0}}">
                            {{ project[1] }}
                        </textPath>
                    </text>
                </svg>

                <section class="popup">
                    <div class="thumbnail">
                       <img src="{{ project[0][0] }}" alt="Une des images du projet {{ project[1] }}">
                    </div>

                    <div class="slideshow-container">
                        <button style="--local-color: #{{ colors[project[11][0]] }};" class="closing">&#10005;</button>
                        {% set loopExt = loop.index0 %}
                        {%- for img in project[0] -%}
                            <div class="mySlides{{loopExt}}">
                                <img src="{{ img }}" alt="Une des images du projet {{ project[1] }}" style="width: 100%" />
                            </div>
                        {%- endfor -%}

                        {%- if project[0] | length > 1 -%}
                            <button class="prev" onclick="plusSlides(-1, {{loop.index0}}) ">&lt;</button>
                            <button class="next" onclick="plusSlides(1, {{loop.index0}}) ">&gt;</button>
                        {%- endif -%}

                    </div>

                    <div class="tech" style="--local-color: #{{ colors[project[11][0]] }};">
                        <div class="titleProject value">{{ project[1] }}</div>

                        <ul class="liste" >
                            {%- for category in categories -%}
                                {%- if loop.index > 2 -%}
                                {%- if project[loop.index0] is iterable and project[loop.index0] is not string -%}
                                    <li>
                                    <span class="icone" data-type="{{ category|replace(" ","_") }}">{{ cat_codes[category] }}</span><span class="key"> {{ category }} </span>
                                    <ul class="sous-liste">
                                        {%- for el in project[loop.index0] -%}
                                            {%- if 'couleur' in category -%}
                                                {%- if colors[el] -%}
                                                <li class="couleurs {% if el == 'cmjn' %}cmjn{% endif %}" style="--local-color: #{{ colors[el] }};"><span class="text-coul value">{{ el }} </span> </li>
                                                {%- else -%}
                                                <li class="error">{{ el }}</li>
                                                {%- endif -%}

                                                {% else %}
                                                    <li><span class="value">{{ el }}</span></li>
                                                {%- endif -%}

                                                {%- endfor %}
                                                </ul>
                                            </li>

                                            {%- elif project[loop.index0] != 'N/C' -%}
                                                <li>
                                                    <span class="icone">{{ cat_codes[category] }}</span><span class="key">{{ category }}
                                                    </span><span class="value">{{ project[loop.index0] }}</span>
                                                </li>
                                            {%- endif -%}
                                {%- endif -%}
                            {%- endfor %}
                        </ul>
                    </div>
                </section>
            </div>
        </article>
        {%- endfor -%}
    </main>

    <script src="js/main.js" charset="utf-8"></script>
    <script src="js/tri.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.5.0/dist/lazyload.min.js"></script>
</body>

</html>
